In [2]:
# -*- coding: utf-8 -*-
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import re
from string import digits
import nltk; nltk.download('stopwords')
import os
from pprint import pprint

# Gensim
import gensim
import gensim.corpora as corpora
from gensim.utils import simple_preprocess
from gensim.models import CoherenceModel

import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
import pandas as pd
hotel_review = pd.read_csv('Hotel_Reviews.csv')
hotel_review.head()

                                       Hotel_Address  ...       lng
0   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...  ...  4.915968
1   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...  ...  4.915968
2   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...  ...  4.915968
3   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...  ...  4.915968
4   s Gravesandestraat 55 Oost 1092 AA Amsterdam ...  ...  4.915968

[5 rows x 17 columns]

In [4]:
# 나라 중복값 확인
w_count  = {}
for lst in hotel_review['Reviewer_Nationality']:
    try: w_count[lst] += 1
    except: w_count[lst]=1
print(w_count)

{' Russia ': 3900, ' Ireland ': 14827, ' Australia ': 21686, ' United Kingdom ': 245246, ' New Zealand ': 3237, ' Poland ': 2891, ' Belgium ': 6031, ' Norway ': 2383, ' France ': 7296, ' Italy ': 6114, ' Canada ': 7894, ' Netherlands ': 8772, ' Germany ': 7941, ' United States of America ': 35437, ' Hungary ': 2185, ' Israel ': 6610, ' Switzerland ': 8678, ' India ': 3437, ' United Arab Emirates ': 10235, ' Malaysia ': 1883, ' Denmark ': 1724, ' South Africa ': 3821, ' Rwanda ': 13, ' Finland ': 1829, ' Portugal ': 1839, ' Luxembourg ': 1359, ' Spain ': 4737, ' Malta ': 1685, ' China ': 3400, ' Turkey ': 5444, ' Ukraine ': 1102, ' Gibraltar ': 380, ' Argentina ': 517, ' Abkhazia Georgia ': 153, ' Isle of Man ': 405, ' Sweden ': 3368, ' Croatia ': 1340, ' Saudi Arabia ': 8951, ' Lithuania ': 727, ' Slovenia ': 796, ' Panama ': 122, ' Austria ': 2412, ' Brazil ': 1865, ' Taiwan ': 923, ' Iceland ': 933, ' Iran ': 1086, ' Liechtenstein ': 20, ' Chile ': 334, ' Hong Kong ': 3013, ' United States Minor Outlying Islands ': 74, ' Morocco ': 229, ' Oman ': 1334, ' Lebanon ': 2261, ' Qatar ': 2757, ' Nigeria ': 977, ' Romania ': 4552, ' Czech Republic ': 2311, ' Greece ': 3406, ' Thailand ': 1880, ' Singapore ': 3091, ' Guernsey ': 543, ' Latvia ': 719, ' Namibia ': 67, ' Japan ': 1279, ' Egypt ': 2388, ' Slovakia ': 903, ' South Korea ': 1078, ' Kuwait ': 4920, ' Bahrain ': 1592, ' Jersey ': 863, ' Jordan ': 757, ' Bulgaria ': 1314, ' Cyprus ': 1381, ' Albania ': 286, ' Estonia ': 757, ' Serbia ': 1124, ' Belarus ': 192, ' Puerto Rico ': 180, ' Sudan ': 51, ' Sri Lanka ': 284, ' Indonesia ': 1548, ' Honduras ': 22, ' Philippines ': 1073, ' Montenegro ': 192, ' Uruguay ': 91, ' Brunei ': 100, ' Pakistan ': 916, ' Kosovo ': 72, ' Azerbaijan ': 277, ' ': 523, ' Botswana ': 42, ' Tanzania ': 58, ' Bangladesh ': 151, ' Trinidad and Tobago ': 154, ' Palestinian Territory ': 54, ' Peru ': 118, ' Mexico ': 592, ' Kenya ': 269, ' Zimbabwe ': 51, ' Macedonia ': 282, ' Georgia ': 294, ' Bermuda ': 103, ' Costa Rica ': 120, ' Bahamas ': 32, ' Maldives ': 49, ' Barbados ': 61, ' Libya ': 72, ' Fiji ': 12, ' Angola ': 62, ' Kazakhstan ': 281, ' Bosnia and Herzegovina ': 246, ' Colombia ': 277, ' Armenia ': 134, ' Vietnam ': 187, ' Iraq ': 290, ' Monaco ': 250, ' Uganda ': 47, ' Togo ': 7, ' Guatemala ': 53, ' Ghana ': 145, ' Macau ': 109, ' Zambia ': 37, ' Jamaica ': 41, ' Mauritius ': 216, ' Venezuela ': 78, ' Crimea ': 6, ' St Maarten ': 11, ' Algeria ': 100, ' Equatorial Guinea ': 2, ' Nicaragua ': 15, ' Comoros ': 1, ' Cayman Islands ': 42, ' Ethiopia ': 32, ' Dominican Republic ': 52, ' Ecuador ': 61, ' Uzbekistan ': 20, ' Turks Caicos Islands ': 14, ' Nepal ': 15, ' Mozambique ': 35, ' Sierra Leone ': 6, ' Ivory Coast ': 19, ' Cura ao ': 41, ' Antigua Barbuda ': 14, ' Burundi ': 3, ' East Timor ': 4, ' Tunisia ': 76, ' Andorra ': 64, ' U S Virgin Islands ': 17, ' Antarctica ': 3, ' Papua New Guinea ': 14, ' Montserrat ': 2, ' Malawi ': 10, ' Yemen ': 16, ' Suriname ': 11, ' Paraguay ': 28, ' Aruba ': 31, ' Mongolia ': 39, ' Moldova ': 108, ' St Pierre and Miquelon ': 2, ' Cambodia ': 34, ' Seychelles ': 21, ' Guyana ': 5, ' Senegal ': 24, ' El Salvador ': 24, ' Guam ': 14, ' Myanmar ': 18, ' Madagascar ': 8, ' Benin ': 6, ' Saint Kitts and Nevis ': 9, ' Martinique ': 5, ' Vanuatu ': 8, ' British Virgin Islands ': 16, ' Belize ': 8, ' Democratic Republic of the Congo ': 9, ' Gabon ': 7, ' New Caledonia ': 10, ' Bhutan ': 6, ' Faroe Islands ': 16, ' Kyrgyzstan ': 21, ' Gambia ': 5, ' Syria ': 33, ' Laos ': 9, ' Mauritania ': 8, ' Central Africa Republic ': 3, ' Reunion ': 6, ' Saint Martin ': 4, ' Cameroon ': 9, ' Guadeloupe ': 5, ' Liberia ': 3, ' Haiti ': 6, ' Mali ': 5, ' Saint Lucia ': 8, ' French Guiana ': 4, ' Swaziland ': 8, ' Falkland Islands Malvinas ': 6, ' Tajikistan ': 16, ' Afghanistan ': 8, ' Bolivia ': 18, ' Dominica ': 11, ' Niger ': 2, ' Samoa ': 4, ' Lesotho ': 3, ' French Polynesia ': 3, ' Grenada ': 3, ' Wallis and Futuna ': 2, ' Svalbard Jan Mayen ': 1, ' Djibouti ': 2, ' Saint Barts ': 3, ' Kiribati ': 2, ' Cook Islands ': 2, ' Congo ': 3, ' Somalia ': 3, ' Eritrea ': 2, ' Saint Vincent Grenadines ': 2, ' San Marino ': 3, ' Turkmenistan ': 5, ' Vatican City ': 1, ' South Sudan ': 2, ' Anguilla ': 1, ' Cocos K I ': 2, ' Bonaire St Eustatius and Saba ': 3, ' Cape Verde ': 1, ' Northern Mariana Islands ': 1, ' Tuvalu ': 1, ' Guinea ': 1, ' American Samoa ': 2, ' Palau ': 1}

In [5]:
# 대륙별 행 추출
hotel_review_Africa = hotel_review[['Reviewer_Nationality',"Negative_Review","Positive_Review"]]
Is = hotel_review_Africa[hotel_review_Africa['Reviewer_Nationality']  == " Israel "]
Uae = hotel_review_Africa[hotel_review_Africa['Reviewer_Nationality']  == " United Arab Emirates "]
Sa = hotel_review_Africa[hotel_review_Africa['Reviewer_Nationality']  == " South Africa "]
Sd = hotel_review_Africa[hotel_review_Africa['Reviewer_Nationality']  == " Saudi Arabia "]
Ba = hotel_review_Africa[hotel_review_Africa['Reviewer_Nationality']  == " Bahrain "]
Ku = hotel_review_Africa[hotel_review_Africa['Reviewer_Nationality']  == " Kuwait "]
AFRICA = pd.concat([Is,Uae,Sa,Sd,Ba,Ku])
AFRICA

       Reviewer_Nationality  ...                                    Positive_Review
35                  Israel   ...   Very nice hotel manager he upgraded us becaus...
184                 Israel   ...   The room is beautiful and comfortable the sho...
190                 Israel   ...   Staff was vey pleasant The place is very well...
205                 Israel   ...   The best thing at this price excellent price ...
216                 Israel   ...   The hotel is beautiful the pictures here aren...
393                 Israel   ...                                        No Positive
450                 Israel   ...   Excellent location near major railway lines E...
612                 Israel   ...   Often the reality is different from the websi...
629                 Israel   ...   The hotel is clean in good location the break...
638                 Israel   ...                 very nice staff at the front desk
646                 Israel   ...   The price per night is very good relatively t...
770                 Israel   ...    The Service and staff made our stay worthwhile
785                 Israel   ...                                        No Positive
846                 Israel   ...                                           Location
884                 Israel   ...   Very clean Very good breakfast Very close to ...
933                 Israel   ...   the hotel is in a quiet neighborhood very clo...
1042                Israel   ...   We arived the hotel late in the night and the...
1086                Israel   ...   The location The friendly staff The comfort a...
1629                Israel   ...   The location was great both for walking or ta...
1642                Israel   ...                 Grate location guiet and nice room
1826                Israel   ...                                     Location clean
1856                Israel   ...   Wonderful hotel great food perfect room it wa...
1939                Israel   ...                              new and stylish Quiet
1981                Israel   ...             New hotel high standards great service
2225                Israel   ...   Small but comfotable room Very clean Excellen...
2365                Israel   ...   The hotel is very clean The double bed was ve...
2686                Israel   ...   The staff were efficient and friendly The hot...
2759                Israel   ...   We were very impressed with the hotel and sta...
2782                Israel   ...   The deluxe room had plenty of space for lugga...
3072                Israel   ...                        Everything about this hotel
...                     ...  ...                                                ...
509105              Kuwait   ...       Location is excelent and the room was clean
509176              Kuwait   ...                                     Love the hotel
509203              Kuwait   ...                             It s a wonderful hotel
509394              Kuwait   ...                       Friendly staff fast check in
510108              Kuwait   ...   Every thing was really really good loved the ...
510311              Kuwait   ...                        Staff price and clean room
510340              Kuwait   ...                                         Everything
511438              Kuwait   ...   Location is great just a few minutes walk to ...
512385              Kuwait   ...                                           Location
512434              Kuwait   ...   Internet speed was good food was nice accommo...
512464              Kuwait   ...                                        No Positive
512587              Kuwait   ...                                   every thing else
512593              Kuwait   ...   I like the tea room location and the size of ...
512595              Kuwait   ...      High end hotel with best service you can get
512604              Kuwait   ...   Location is great and I got a free upgraded t...
512627              Kuwait   ...   Amazing Staff They went out of their way to m...
512628              Kuwait   ...   Extremely friendly staff Great location and i...
513802              Kuwait   ...   the food was great helpful staff with everything
514288              Kuwait   ...    Location Comfortable bed Clean and new bathroom
514794              Kuwait   ...   great hotel and amazing staff special thanks ...
514990              Kuwait   ...            Professional management mazing location
515046              Kuwait   ...                                           Location
515191              Kuwait   ...   Choose this hotel because i used this hotel m...
515246              Kuwait   ...                            location friendly staff
515354              Kuwait   ...                                            nothing
515355              Kuwait   ...                                Convenient location
515499              Kuwait   ...                                  Good room sevice
515690              Kuwait   ...                              Staff and cleanliness
515732              Kuwait   ...   helpful staff allowed me to check in early as...
515733              Kuwait   ...                                           location

[36129 rows x 3 columns]

In [0]:
Negative = AFRICA.iloc[:,1]
Positive = AFRICA.iloc[:,2]

In [7]:
Negative = [re.sub("\'", "", str(sent)) for sent in Negative]
Negative = [re.sub("No Negative'", "", str(sent)) for sent in Negative]
pprint(Negative[:1])

[' Construction on site but not mentioned on booking com The breakfast can be '
 'improved it is quite expensive for its quality ']

In [8]:
Positive = [re.sub("\'", "", str(sent1)) for sent1 in Positive]
Positive = [re.sub("No Positive'", "", str(sent1)) for sent1 in Positive]
pprint(Positive[:1])

[' Very nice hotel manager he upgraded us because we had troubles with two '
 'different rooms They do everything to make you feel welcome and comfortable '
 'The park directly in front of the hotel is amazing rent a bike directly and '
 'make a tour Also the bathtub and bed is great ']

In [0]:
import gensim 
from gensim.models import Word2Vec

In [10]:
def sent_to_words(sentences):
    for sentence in sentences:
        yield(gensim.utils.simple_preprocess(str(sentence), deacc=True))  # deacc=True removes punctuations

data_words1 = list(sent_to_words(Negative))
data_words2 = list(sent_to_words(Positive))

print(data_words1[:1])
print(data_words2[:1])

[['construction', 'on', 'site', 'but', 'not', 'mentioned', 'on', 'booking', 'com', 'the', 'breakfast', 'can', 'be', 'improved', 'it', 'is', 'quite', 'expensive', 'for', 'its', 'quality']]
[['very', 'nice', 'hotel', 'manager', 'he', 'upgraded', 'us', 'because', 'we', 'had', 'troubles', 'with', 'two', 'different', 'rooms', 'they', 'do', 'everything', 'to', 'make', 'you', 'feel', 'welcome', 'and', 'comfortable', 'the', 'park', 'directly', 'in', 'front', 'of', 'the', 'hotel', 'is', 'amazing', 'rent', 'bike', 'directly', 'and', 'make', 'tour', 'also', 'the', 'bathtub', 'and', 'bed', 'is', 'great']]

In [11]:
%%time
model1 = Word2Vec(data_words1)

CPU times: user 5.49 s, sys: 32 ms, total: 5.52 s
Wall time: 2.97 s

In [12]:
%%time
model2 = Word2Vec(data_words2)

CPU times: user 4.24 s, sys: 29 ms, total: 4.27 s
Wall time: 2.33 s

In [13]:
model1.wv.most_similar("service")

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('services', 0.6896906495094299),
 ('cleaning', 0.6695860028266907),
 ('wifi', 0.6527811884880066),
 ('dining', 0.6394953727722168),
 ('dinner', 0.6220106482505798),
 ('internet', 0.6212985515594482),
 ('food', 0.6207149028778076),
 ('restaurant', 0.611198365688324),
 ('attitude', 0.5833016633987427),
 ('breakfast', 0.563032329082489)]

In [14]:
model1.wv.most_similar("room")

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('bed', 0.6607218980789185),
 ('suite', 0.6495183706283569),
 ('rooms', 0.6009031534194946),
 ('bathroom', 0.5961786508560181),
 ('bedroom', 0.5552880764007568),
 ('toom', 0.5528099536895752),
 ('glazing', 0.5360465049743652),
 ('beds', 0.5299645662307739),
 ('liking', 0.5155165195465088),
 ('king', 0.5049129128456116)]

In [15]:
model1.wv.most_similar("location")

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('center', 0.7931280136108398),
 ('everything', 0.7906079292297363),
 ('far', 0.7672236561775208),
 ('city', 0.7572845220565796),
 ('central', 0.7569197416305542),
 ('its', 0.7452247738838196),
 ('best', 0.7434491515159607),
 ('london', 0.7249488234519958),
 ('convenient', 0.7215392589569092),
 ('heart', 0.7208604216575623)]

In [16]:
model1.wv.most_similar("transport")

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('transportation', 0.9571740627288818),
 ('shopping', 0.9533759355545044),
 ('duomo', 0.948486328125),
 ('nearest', 0.9470086693763733),
 ('public', 0.9434255957603455),
 ('ride', 0.9426274299621582),
 ('tube', 0.9394738674163818),
 ('dam', 0.934174120426178),
 ('lines', 0.9275264143943787),
 ('km', 0.9252655506134033)]

In [17]:
model2.wv.most_similar("service")

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('services', 0.7989984750747681),
 ('attitude', 0.7117817997932434),
 ('hospitality', 0.6902007460594177),
 ('cleaning', 0.6698524951934814),
 ('team', 0.6518614292144775),
 ('food', 0.6441803574562073),
 ('outstanding', 0.641688883304596),
 ('concierge', 0.631514310836792),
 ('housekeeping', 0.6273354887962341),
 ('especially', 0.6207024455070496)]

In [18]:
model2.wv.most_similar("room")

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('bathroom', 0.7714527249336243),
 ('suite', 0.7706912755966187),
 ('rooms', 0.6962864995002747),
 ('apartment', 0.6811289191246033),
 ('king', 0.6761717796325684),
 ('shower', 0.6708083152770996),
 ('bath', 0.6599761843681335),
 ('junior', 0.6343474984169006),
 ('bed', 0.632392942905426),
 ('bedroom', 0.6240509152412415)]

In [19]:
model2.wv.most_similar("location")

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('position', 0.6964618563652039),
 ('place', 0.650229275226593),
 ('everything', 0.5882082581520081),
 ('property', 0.5594277381896973),
 ('greenwich', 0.5542212128639221),
 ('elegance', 0.5507317781448364),
 ('neighborhood', 0.5421019792556763),
 ('leidseplein', 0.5398176312446594),
 ('spot', 0.5375691056251526),
 ('environment', 0.5369924306869507)]

In [20]:
model2.wv.most_similar("transport")

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('public', 0.9748728275299072),
 ('transportation', 0.9729366898536682),
 ('stations', 0.9133415818214417),
 ('buses', 0.907095730304718),
 ('tourist', 0.9069772362709045),
 ('museums', 0.9060170650482178),
 ('trains', 0.9051945209503174),
 ('accessible', 0.9036531448364258),
 ('subway', 0.8965941071510315),
 ('mall', 0.8907855153083801)]